.box {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.box b {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #3673cf41;
  position: absolute;
  -webkit-animation: moveX 6s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 6s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 6s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: moveX 6s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 100vw; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 100vw; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 100vw; }
}
@keyframes moveX {
  from { left: 0; } to { left: 100vw; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 100vh; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 100vh; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 100vh; }
}
@keyframes moveY {
  from { top: 0; } to { top: 100vh; }
}

.about {
  z-index: 999;
}

.about h1 {
  margin: 1rem 0 0 0;
  padding: 0;
  @media (min-width: 768px) {
    margin-top: 4rem;
  }
}

.about-content {
  margin: 0;
  padding: 2rem;
  font-size: 0.7rem;
  @media (min-width: 768px) {
    font-size: 1.7rem;
    line-height: 4rem;
    margin: 5rem 0 0 0;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.about-content a button {
  font-size: 0.7rem;
  @media (min-width: 768px) {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
  }
}