  @import url(https://fonts.googleapis.com/css?family=Exo:100);
  /* Background data (Original source: https://subtlepatterns.com/grid-me/) */
  /* Animations */
  @-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  /* Main styles */

  body {
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  }

  .container-background {
        color: #999;
        font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
        text-align: center;
        /* img size is 50x50 */
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
        -webkit-animation: bg-scrolling-reverse 0.92s infinite;
        /* Safari 4+ */
        -moz-animation: bg-scrolling-reverse 0.92s infinite;
        /* Fx 5+ */
        -o-animation: bg-scrolling-reverse 0.92s infinite;
        /* Opera 12+ */
        animation: bg-scrolling-reverse 0.92s infinite;
        /* IE 10+ */
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        animation-timing-function: linear;

        @media (min-width: 768px) {
            padding: 2rem;
            margin: 0;
        }
    
  }
  

  .projects-background {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 98vw;
    margin: 0 0 2rem 0;
    padding: 0;

    @media (min-width: 768px) {
        width: auto;
        /* gap: 2; */
        padding: 0;
        margin: 0;
        /* margin: 0 0 2rem 0; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-column-gap: 0;
        grid-row-gap: 0;
      }
  }

  ul {
    list-style: none;
  }

  
  .triple-rounded {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    @media (min-width: 768px) {
      margin: auto;
      gap: 0;
      height: 90%;
      padding: 4rem;
    }
  }

  .triple-rounded h2 {
    font-size: 1.5rem ;
    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }

  .triple-rounded p {
    font-size: 0.8rem ;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .triple-rounded ul li {
    background-color: '#C6AC8F';
    font-size: 0.7rem ;
    @media (min-width: 768px) {
      font-size: 1.2rem;
    }
  }

  .GitHub-btn {
    font-size: 1rem;
    background-color: #EAE0D5;
    color: black;
    box-shadow: 0 0.4rem 0 #eae0d59d;    
    border: grey;
    border-radius: 0.5rem;
    padding: 0.3rem;
    transition: transform 0.1s ease-in-out, color 0.3s ease-in-out, background-color 0.3s, box-shadow 0.3s;

    @media (min-width: 768px) {
    font-size: 2rem;
    }

  }

  .see-projects-btn {
    background-color: #EAE0D5;
    box-shadow: 0 0.4rem 0 rgba(156, 146, 112, 0.74);    
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem;
  }
  
  .LiveSite-btn {
    font-size: 1rem;
    background-color: #EAE0D5;
    color: black;
    box-shadow: 0 0.4rem 0 #eae0d59d;       
    transition: transform 0.1s;
    padding: 0.3rem;
    border: none;
    border-radius: 0.5rem;

    @media (min-width: 768px) {
      font-size: 2rem;
      }
  }

  .GitHub-btn:hover, .see-projects-btn:hover, .LiveSite-btn:hover {
    box-shadow: 0 0.6rem 0 #D1C0A09D; 
    transform: scale(1.05); 
    color: black; 
  }
  
  .GitHub-btn:active, .see-projects-btn:active, .LiveSite-btn:active {
    transform: scale(0.98); 
    box-shadow: none; 
    background-color: #EAE0D5; 
    color: black; 
  }